<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="skadistats.clarity" level="info" />
    <logger name="skadistats.clarity.processor.entities" level="debug" />

	<root level="debug">
		<appender-ref ref="stdout" />
	</root>
	
</configuration>



