<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="clarity.entities" level="info" />

	<root level="info">
		<appender-ref ref="stdout" />
	</root>

</configuration>



